@import url('https://fonts.googleapis.com/css?family=Questrial|Kaushan+Script&subset=latin-ext');
@import '~rc-time-picker/assets/index.css';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.handwriting {
    color: rgb(255, 255, 225);
    margin-top: 1rem;
    font-family: 'Kaushan Script', cursive;
}

.about-height {
    margin-top: -1.5rem;
    height: 80vh !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.vertical-align-middle {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
}

.spinner-grow-bg {
    width: 10rem;
    height: 10rem;
}

.h-65px {
    height: 65px !important;
}

.bg-custom {
    background-color: rgba(248, 248, 250, 0.85);
    backdrop-filter: blur(10px);
}

.bg-custom-alert {
    background-color: rgba(255, 196, 196, 0.85);
    backdrop-filter: blur(10px);
}

.bg-custom-thead {
    background-color: rgba(116, 123, 116, 0.45);
    backdrop-filter: blur(10px);
}

.td-border-custom {
    border-bottom: 2px solid rgb(119, 126, 133) !important;
}

/* Modied style for rc-time-picker */

.rc-time-picker-input {
    height: 38px;
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    background: rgba(248, 248, 250, 0.45);
}

.rc-time-picker-clear-icon:after {
    margin-top: 10px;
}

.rc-time-picker-panel-inner {
    margin-top: 4px;
}

/* -------------------------------- */
